title={{ data | jsonpath('entries[*].content.html.>[*].head.>[*].title.@text') | first }}
text={{ data | jsonpath('entries[*].content.html.>[*].body.>[*].p[?(@.class=="narf")].@text') | first}}
ownText={{ data | jsonpath('entries[*].content.html.>[*].body.>[*].div.@text') | first}}
nestedText={{ data | jsonpath('entries[*].content.html.>[*].body.>[*].div.@nestedText') | first}}