{% import 'templates/macros.java.j2' as macros %}

package {{ data.base_package }}.converters;

import org.springframework.core.convert.converter.Converter;
import {{ data.base_package  }}.entities.{{ node.name }};
import {{ data.base_package  }}.views.{{ node.name }}View;

public class {{ node.name }}Converter
	implements Converter<{{ node.name }}, {{ node.name }}View> {

	{{macros.nullable(false)}}
	public {{ node.name }}View convert({{macros.nullable(false)}} {{ node.name }} input) {
		{{ node.name }}View result = new {{ node.name }}View();
		{% for prop in node.properties -%}
			{% if prop.viewable -%}
				result.set{{ prop.name | title }}(input.get{{ prop.name | title}}());
			{%- endif %}
		{%- endfor %}
		return result;

	}
}